.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.date-custom {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-style: inherit;
  border-bottom: 2px solid rgb(53, 50, 50);
  background-color: #bec7d8;
}
.react-datepicker__month-container {
  background-color: rgb(147, 131, 151);
}

.react-datepicker__day-names {
  background-color: rgb(164, 111, 214);
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--disabled {
  background-color: rgb(212, 30, 30);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
